*.o
*.a
*.moc.cpp
*~
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
src/lib/DttSP/Makefile
src/lib/DttSP/Makefile.in
src/client/QtRadio/GITSTR
src/client/QtRadio/Makefile
src/client/QtRadio/Makefile.in
src/client/QtRadio/QtRadio
src/client/QtRadio/aclocal.m4
src/client/QtRadio/autom4te.cache/
src/client/QtRadio/build-aux/libtool.m4
src/client/QtRadio/build-aux/ltoptions.m4
src/client/QtRadio/build-aux/ltsugar.m4
src/client/QtRadio/build-aux/ltversion.m4
src/client/QtRadio/build-aux/lt~obsolete.m4
src/client/QtRadio/config.guess
src/client/QtRadio/config.log
src/client/QtRadio/config.status
src/client/QtRadio/config.sub
src/client/QtRadio/configure
src/client/QtRadio/depcomp
src/client/QtRadio/install-sh
src/client/QtRadio/libtool
src/client/QtRadio/ltmain.sh
src/client/QtRadio/missing
src/client/QtRadio/ui_About.h
src/client/QtRadio/ui_Bandscope.h
src/client/QtRadio/ui_Bookmark.h
src/client/QtRadio/ui_BookmarksDialog.h
src/client/QtRadio/ui_BookmarksEditDialog.h
src/client/QtRadio/ui_Configure.h
src/client/QtRadio/ui_KeypadDialog.h
src/client/QtRadio/ui_UI.h
src/client/QtRadio/ui_ctl.h
src/client/QtRadio/ui_servers.h
src/client/QtRadio/ui_vfo.h
src/dspserver/Makefile
src/dspserver/Makefile.in
src/dspserver/dspserver
src/hardware/server/Makefile
src/hardware/server/Makefile.in
src/hardware/server/hpsdr-server
src/hardware/softrock/Makefile
src/hardware/softrock/Makefile.in
src/hardware/softrock/softrock
src/hardware/widget-server/Makefile
src/hardware/widget-server/Makefile.in
src/hardware/widget-server/widget-server
src/hardware/hiqsdr/hiqsdr-server
src/hardware/hiqsdr/hiqsdr-test
src/hardware/sdriq/sdriq-server
src/hardware/sdriq/sdriq-test
branches/android/aHPSDR/bin/*
build-aux/libtool.m4
build-aux/ltoptions.m4
build-aux/ltsugar.m4
build-aux/ltversion.m4
build-aux/lt~obsolete.m4
libtool
ltmain.sh
src/hardware/rtlsdr/build-aux/libtool.m4
src/hardware/rtlsdr/build-aux/ltoptions.m4
src/hardware/rtlsdr/build-aux/ltsugar.m4
src/hardware/rtlsdr/build-aux/ltversion.m4
src/hardware/rtlsdr/build-aux/lt~obsolete.m4
src/hardware/rtlsdr/ltmain.sh
src/hardware/usrp/build-aux/libtool.m4
src/hardware/usrp/build-aux/ltoptions.m4
src/hardware/usrp/build-aux/ltsugar.m4
src/hardware/usrp/build-aux/ltversion.m4
src/hardware/usrp/build-aux/lt~obsolete.m4
src/hardware/usrp/ltmain.sh


